.logo {
    width: 120px;
}

.nav-item {
    padding-left: 10px;
}

.active-link {
    /* background: green; */
    margin: 0px 15px;
    border-bottom: 3px dashed red;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0);
    margin-right: 6px;
}

.navbar-expand-lg {
    border-bottom: 1px solid #636060;
}