<div class="container-fluid justify-content-center">
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <a routerLink="home"> <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Dashboard</label></a>

        <a routerLink="sendMoney"> <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2">Send Money</label></a>

        <a routerLink="registerCustomer"> <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio3">Register Customer</label></a>

        <a routerLink="allRemittances"> <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio3">Remittances</label></a>

        <a routerLink="allUsers"> <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio3">Users</label></a>

        <a routerLink="createUser"> <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio3">Create User</label></a>


    </div>

</div>
<div class="container table-responsive-sm">
    <table class="table table-hover table-sm p-5">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Address</th>
                <th>Country</th>
                <th>Sending Amount</th>
                <th>Receiving Amount</th>
                <th>Charges</th>
                <th>Payment Type</th>
                <th>Trans Date</th>
                <th>Trans Status </th>
                <th>Agent Name</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let user of allRemittances">
                <td>
                    {{user.customer_name}}
                </td>
                <td>
                    {{user.address}}
                </td>
                <td>
                    {{user.country_name}}
                </td>
                <td>
                    {{user.sending_amount}}
                </td>
                <td>
                    {{user.receiving_amount}}
                </td>

                <td>
                    {{user.amount}}
                </td>
                <td>
                    {{user.payment_type}}
                </td>
                <td>
                    {{user.transaction_date |date:'MMM-dd-YYYY'}}
                </td>
                <td>
                    {{user.status_type }}
                </td>
                <td>
                    {{user.fullname }}
                </td>
                <!-- <td>
                    <button class="btn btn-success" (click)="viewPosts(user)">View User</button>

                </td> -->
            </tr>
        </tbody>
    </table>
    <div class="mb-3 my-3 justify">
        <span class="text-danger">{{lognInError}}</span>
    </div>

</div>