    input.ng-invalid.ng-touched {
        border: 1px solid red;
    }
    
    .reg {
        background-color: hsl(138, 94%, 31%);
        background-attachment: fixed;
        background-size: cover;
        height: 230px;
        opacity: .7;
    }