<div class="container-fluid  bgPage">
    <div class="row justify-content-center mb-5 py-4">
        <div class="col-4 bg-white m-5 p-3">
            <img class="img-fluid rounded mx-auto d-block" style="height: 100px; width:100px;" src="assets/images/remit-logo1.png" alt="Login Logo">
            <h3 class="text-black text-center py-2">Login</h3>
            <form [formGroup]="signInForm" (ngSubmit)="lognIn()">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" formControlName="email">
                    <span *ngIf="signInForm.get('email')?.touched && signInForm.get('email')?.hasError('required')">Please Enter Email Address</span>
                    <span *ngIf="signInForm.get('email')?.touched && signInForm.get('email')?.hasError('email')">Your input should be email</span>
                </div>
                <div class=" mb-3 ">
                    <label for="exampleInputPassword1 " class="form-label ">Password</label>
                    <input type="password" class="form-control" formControlName="password">
                    <span *ngIf="signInForm.get('password')?.touched && signInForm.get('password')?.hasError('required')">Password is required to enter</span>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit " class="btn btn-primary h3" [disabled]="!signInForm.valid ">Login</button>
                </div>

                <div class="mb-3 my-3 ">
                    <span class="text-danger">{{lognInError}}</span>
                </div>
            </form>

        </div>
    </div>

</div>